.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
  height: var(--header-height);
}
.nav {
  margin-top: 0.5rem;
  height: calc(var(--header-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  transition: 0.5s;
}

.nav__list {
  display: flex !important;
  flex-direction: row;
  column-gap: 2rem !important;
}

.nav__close,
.nav__icon,
.nav__toggle {
  display: none;
}

.nav__active,
.nav__link:hover {
  color: var(--title-color-dark);
  /* color: blue; */
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }
  .nav {
    height: var(--header-height);
  }
  .nav__toggle,
  .nav__close,
  .nav__icon {
    display: block;
  }
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.5s;
  }
  .show__menu {
    bottom: 0;
  }
  .nav__toggle {
    font-size: 1.4rem;
    cursor: pointer;
  }
  .nav__list {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .nav__icon {
    font-size: 1.5rem;
  }
  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--title-color);
  }
  .nav__close:hover {
    color: var(--title-color-dark);
  }
}

@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 2rem;
  }
}
